.card {
    display: flex;
}

.card-value {
    width: 50%;
    text-align: center;
}

.card-color {
    width: 50%;
    text-align: center;
}

.card-color-hearts,
.card-color-diamonds {
    color: red;
}