@import 'card';
$margin_bottom_default: 30px;
body {
    box-sizing: border-box !important;
    padding-bottom: $margin_bottom_default;
}

[v-cloak] {
    display: none;
}

.md-layout {
    flex-direction: column;
}

.game-info {
    padding: 15px;
}

.choices {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.choice {
    width: 10%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 640px) {
    .choice {
        width: 20%;
    }
}

.prediction {
    margin: auto;
    margin-bottom: $margin_bottom_default;
    text-align: center;
    font-size: 30px;
    line-height: 100px;
    width: 100px;
    height: 100px;
    border: solid 2px black;
    border-radius: 5px;
    background-color: grey;
    cursor: pointer;
}

.prediction-show {
    background-color: inherit;
    cursor: initial;
}

.btn-show-prediction {
    margin: auto;
    margin-bottom: $margin_bottom_default;
}